__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db
Desktop.ini
*.tmp
*~

# Datasets generados por el pipeline
data/raw/*.csv
data/processed/*.csv
